.container {
    box-sizing: border-box;
    border-bottom: 2px solid #4d1601;
    display: flex;
    justify-content: space-between;
    margin: 0px 15px 15px 15px;
    padding-bottom: 10px;
}

.emptyMsg {
    font-style: italic;
    color: #aaa;
    margin: 0px 15px;
}

.unitPrice {
    font-weight: bold;
    font-size: 14px;
    color: #4d1601
}

.quantity {
    margin-left: 40px;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 2px 5px;
}
.itemName {
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 5px;
}

.leftDiv {
    width: 80%;
    display: inline-block;
}

.rightDiv button {
    margin: 5px;
    width: 30px;
    padding: 3px;
    border: 1px solid #4d1601;
    color: #4d1601;
    background-color: white;
    border-radius: 3px;
    font-weight: bold;
}

.rightDiv button:hover {
    cursor: pointer;
    color: white;
    background-color: #4d1601;
}

.rightDiv {
    display: flex;
    text-align: right;
    vertical-align: center;
    align-items: center;
    top: 10%;
}

@media (max-width: 768px) {
    .itemName {
        font-size: 0.9rem;
    }

    .rightDiv button {
        padding: 1px;
    }
}