/* ------- Checkout Form ------ */

.dividerLine {
  margin-inline: 1rem;
  opacity: 0.5;
}
.checkoutForm {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  animation: animateForm 0.3s ease 0s 1 normal;
}

@keyframes animateForm {
  from {
    /* transform: scaleX(1.05); */
    transform: translateY(20px);
  }
  to {
    /* transform: scaleX(1); */
    transform: translateY(0px);
  }
}

.invalidInput {
  border: 1px solid red !important;
  animation: errorInputAnimation 0.3s ease 0s 1 normal;
}
@keyframes errorInputAnimation {
  0% {
    transform: translateX(-5px);
  }
  20% {
    transform: translateX(5px);
  }
  40% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(5px);
  }
  80% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0px);
  }
}

.checkoutForm label {
  width: 30%;
}
.checkoutForm .errCont {
  width: 50%;
  font-size: 12px;
  font-family: sans-serif;
  color: red;
  margin-top: -12px;
  margin-left: 10px;
}

.checkoutForm input {
  width: 50%;
  padding: 0.5rem;
  border: 1px solid #999;
  border-radius: 20px;
}

.checkoutForm input:focus {
  border: 1px solid #4d1601;
}

.checkoutForm section {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: right;
}

.checkoutForm button:nth-child(1) {
  background-color: white;
  color: #333;
  border: 1px solid #4d1601;
}
.checkoutForm button:nth-child(1):hover {
  background-color: #4d1601;
  color: white;
  border: 1px solid #4d1601;
}
