.imgContainer {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}
.imgContainer div:nth-child(1) {
    flex-grow: 1;
    /* background-color: #F9F8F8; */
}

.imgContainer div:nth-child(3) {
    flex-grow: 1;
    /* background-color: #20332C; */
    /* background-color: #1C2A27 */
}
.foodImg {
    width: 100%;
    max-height: 350px;
    /* margin-top: 4rem; */
}

.description-container {
    font: inherit;
    max-width: 45rem;
    margin: 0px auto;
    position: relative;
    top: -38px;
    padding: 25px;
    background: #383838;
    color: white;
    text-align: center;
}

@media (max-width: 768px) {
    .description-container {
        /* background: red; */
        width: 70%;
        padding: 0.2rem 0.4rem;
        top: -1rem;
    }
    .description-container h2 {
        font-size: 0.9rem;
    }
    .description-container {
        font-size: 0.75rem;
    }
    .description-container p:nth-child(2) {
        display: none;
    }
}