.container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 1rem 0rem;
}

.container h3 {
    margin-top: 0px;
    margin-bottom: 0.25rem;
}

.description {
    font-style: italic;
    margin: 0.25rem 0rem;
}

.price {
    font-weight: bold;
    color: brown;
    font-size: 18px;
}

label {
    font-weight: bold;
}

.divAmountChanger {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
}

label {
    margin-right: 8px;
}

input.amount {
    text-align: center;
    max-width: 40px;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 0.25rem 0rem 0.25rem 0.5rem;
}
input.amount:focus-visible {
    outline: none;
}

.addButton {
    background-color: rgb(112, 28, 28);
    min-width: 100px;
    margin-top: 0.5rem;
}

.rightDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media (max-width: 768px) {
    .container * {
        font-size: 0.9rem;
    }

}